<div class="container mt-4">
    <!-- <input class="form-control mb-2" placeholder="Filtrar por nombre" [(ngModel)]="filtroNombre"> -->

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Estado</th>
                <th>Ciudad</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ user.autoincrement }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.Estado }}</td>
                <td>{{ user.Ciudad }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <button mat-icon-button (click)="editarUsuario(user._id)">
                        <span>
                            <i class="ti ti-edit"></i>
                        </span>                        
                    </button>
                    <button mat-icon-button color="warn" (click)="eliminarUsuario(user._id, user.name)">
                        <span>
                            <i class="ti ti-trash"></i>
                        </span>                        
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>