<div class="panel panel-flat">
    <div class="panel-body">
        <div class="row mb-3">
            <!-- Primera columna: para el select -->
            <div class="col-md-6">
                <label for="canchas" class="form-label">Cancha</label>
                <select id="field" name="field" [(ngModel)]="field" class="form-control" required
                    (change)="changeFields()">
                    <option value="">Seleccionar un opción</option>
                    <option *ngFor="let field of fields" [value]="field._id">{{field.nombre}}</option>
                </select>
            </div>
            <!-- Segunda columna: para el input de búsqueda -->
            <div class="col-md-6">
                <label for="canchas" class="form-label">Filtro</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon-filter3"></i></span>
                    <input type="text" class="form-control" placeholder="Filtrar por Torneo, Dia o Horario"
                        [(ngModel)]="filtroNombre">
                </div>
            </div>
         </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="colorHead">
                    <th>#</th>
                    <th>Cancha</th>
                    <th>Torneo</th>
                    <th>Dia</th>
                    <th>Horario</th>
                    <th>status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tournament of tournaments | filtroCancha:filtroNombre | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index"
                    [ngClass]="i % 2 === 0 ? 'zebra-even' : 'zebra-odd'">
                    <td>{{ tournament.autoincrement }}</td>
                    <td>{{ tournament.field.nombre}}</td>
                    <td>{{ tournament.nombre}}</td>
                    <td>{{ tournament.dia}}</td>
                    <td>{{ tournament.horario}}</td>
                    <td>
                        <mat-slide-toggle id="tournamentStatus{{tournament._id}}" (change)="changeStatus(tournament._id, tournament.status)"
                            [(ngModel)]="tournament.status">
                            <span class="form-check-label" for="tournamentStatus" *ngIf="tournament.status">Activo</span>
                            <span class="form-check-label" for="tournamentStatus" *ngIf="!tournament.status">Inactivo</span>
                        </mat-slide-toggle>
                    </td>
                    <td>
                        <ul class="icons-list">
                            <li class="text-primary-600"><a (click)="editarUsuario(tournament._id)"><i
                                        class="icon-pencil7"></i></a></li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>



