<div class="panel panel-flat">
    <div class="panel-body">
        <!-- Renglón de Filtros -->
        <div class="table-responsive">
            <div class="input-group">               
                        <span class="input-group-addon"><i class="icon-filter3"></i></span>
                        <input type="text" class="form-control" placeholder="Filtrar por Cancha, Torneo, Equipo, Nombre y Apellidos"
                            [(ngModel)]="filtroNombre">
                    </div>
        <div class="row mb-3">
        <!-- Tabla -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cancha</th>
                    <th>Torneo</th>
                    <th>Equipo</th>
                    <th>Perfil</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players | filtroJugador:filtroNombre | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                    <td>{{ player.autoincrement}}</td>
                    <td>{{ player.field?.nombre}}</td>
                    <td>{{ player.tournament?.nombre}}</td>
                    <td>{{ player.team?.nombre}}</td>
                    <td>{{ player.profile?.name}}</td>
                    <td>{{ player.name}}</td>
                    <td>{{ player.lastName}}</td>
                    <td>
                        <mat-slide-toggle id="playerStatus{{player._id}}" (change)="changeStatus(player._id, player.status)"
                            [(ngModel)]="player.status">
                            <span class="form-check-label" for="playerStatus" *ngIf="player.status">Activo</span>
                            <span class="form-check-label" for="playerStatus" *ngIf="!player.status">Inactivo</span>
                        </mat-slide-toggle>
                    </td>
                    <td>
                        <ul class="icons-list">
                            <li class="text-primary-600"><a (click)="editarJugador(player._id)"><i
                                        class="icon-pencil7"></i></a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>




