<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle">
                    <!-- <span class="caret"></span> -->
                </a>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/placeholder.jpg" alt="">
                    <span></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <!-- Aquí vinculamos la función cerrarSesion() al elemento de cerrar sesión -->
                    <li><a href="#" (click)="cerrarSesion()"><i class="icon-switch2"></i> Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <div class="media-body">
                                <span class="media-heading text-semibold"></span>
                                <div class="text-size-mini text-muted">
                                </div>
                            </div>
                            <div class="media-right media-middle">
                                <li></li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <app-menu></app-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{{title}}</span></h4>
                    </div>
                </div>
            </div>

            <div class="content">
                <router-outlet></router-outlet>
                <div class="footer text-muted">
                    &copy; 2023 <a href="#">SportLive</a> by <a href="http://sportlive.com"
                        target="_blank">SportLive team</a>
                </div>
            </div>
        </div>
    </div>
</div>
