<div class="panel panel-flat">
    <div class="panel-body">
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" [formGroup]="fieldForm">
            <div class="row">
                <!-- Sección de campos en la izquierda -->
                <div class="col-12 col-md-6">

                    <label for="user" class="form-label">Contacto</label>
                    <select [(ngModel)]="user" formControlName="user" id="user" class="form-control" required>
                        <option *ngFor="let userItem of listUsers" [value]="userItem._id">{{userItem.name}}</option>
                    </select>
                    <div *ngIf="fieldForm.controls['user'].invalid && fieldForm.controls['user'].touched" class="error">Este campo es obligatorio.</div>

                    <!-- Sección Cancha -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nombreCancha" class="form-label">Nombre</label>
                                <input [(ngModel)]="nombre" formControlName="nombre" type="text" class="form-control" id="nombreCancha" required>
                                <div *ngIf="fieldForm.controls['nombre'].invalid && fieldForm.controls['nombre'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="telefonoCancha" class="form-label">Teléfono</label>
                                <input [(ngModel)]="telefono" formControlName="telefono" type="tel" class="form-control" id="telefonoCancha" required>
                                <div *ngIf="fieldForm.controls['telefono'].invalid && fieldForm.controls['telefono'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Contacto -->
                    <div class="row mb-4">
                        <h3>Contacto</h3>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nombreContacto" class="form-label">Nombre</label>
                                <input [(ngModel)]="contactonombre" formControlName="contactonombre" type="text" class="form-control" id="contactoname" required>
                                <div *ngIf="fieldForm.controls['contactonombre'].invalid && fieldForm.controls['contactonombre'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="apellidosContacto" class="form-label">Apellidos</label>
                                <input [(ngModel)]="contactoapellidos" formControlName="contactoapellidos" type="text" class="form-control" id="contactoapellidos" required>
                                <div *ngIf="fieldForm.controls['contactoapellidos'].invalid && fieldForm.controls['contactoapellidos'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="celularContacto" class="form-label">Celular</label>
                                <input [(ngModel)]="contactocelular" formControlName="contactocelular" type="tel" class="form-control" id="celularContacto" required>
                                <div *ngIf="fieldForm.controls['contactocelular'].invalid && fieldForm.controls['contactocelular'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="correoContacto" class="form-label">Correo</label>
                                <input [(ngModel)]="contactocorreo" formControlName="contactocorreo" type="email" class="form-control" id="contactocorreo" required>
                                <div *ngIf="fieldForm.controls['contactocorreo'].invalid && fieldForm.controls['contactocorreo'].touched" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Sección de Imagen y botón de carga en la derecha -->
                <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <!-- Imagen -->
                    <img [src]="displayedImageUrl" alt="Imagen" class="custom-thumbnail mb-3">

                    <!-- Botón de carga de imagen -->
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                        <input [(ngModel)]="file" name="file" type="file" class="form-control" id="fileImg" accept=".jpg,.png">
                    </div>
                </div>

                <div class="col-12 text-right mt-3">
                    <button type="submit" class="btn bg-teal-400 btn-labeled">
                        <b><i class="icon-floppy-disk"></i></b>Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

