<div class="panel panel-flat">
    <div class="panel-body">
        <form [formGroup]="fieldForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="row">
                <!-- Sección de campos en la izquierda -->
                <div class="col-12 col-md-6">
                    <label for="user" class="form-label">Contacto</label>
                <select [(ngModel)]="user" id="user" name="user" class="form-control" required>
                    <option value="" disabled selected>Seleccione un usuario</option>
                    <option *ngFor="let user of listUsers" value="{{user._id}}">{{user.name}}</option>
                </select>
                    <div *ngIf="!user" class="error">Este campo es obligatorio.</div>

                    <!-- Sección Cancha -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nombreCancha" class="form-label">Nombre</label>
                                <input formControlName="nombre" type="text" class="form-control" id="nombreCancha" name="nombreCancha" [(ngModel)]="nombre">
                                <div *ngIf="!nombre" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="telefonoCancha" class="form-label">Teléfono</label>
                                <input formControlName="telefono" type="tel" class="form-control" id="telefonoCancha" name="telefonoCancha" [(ngModel)]="telefono">
                                <div *ngIf="!telefono" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Contacto -->
                    <div class="row mb-4">
                        <h3>Contacto</h3>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="nombreContacto" class="form-label">Nombre</label>
                                <input formControlName="contactonombre" type="text" class="form-control" id="contactoname" name="nombreContacto" [(ngModel)]="contactonombre">
                                <div *ngIf="!contactonombre" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="apellidosContacto" class="form-label">Apellidos</label>
                                <input formControlName="contactoapellidos" type="text" class="form-control" id="contactoapellidos" name="contactoapellidos" [(ngModel)]="contactoapellidos">
                                <div *ngIf="!contactoapellidos" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="celularContacto" class="form-label">Celular</label>
                                <input formControlName="contactocelular" type="tel" class="form-control" id="celularContacto" name="celularContacto" [(ngModel)]="contactocelular">
                                <div *ngIf="!contactocelular" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                        <div class="col-md-6 position-relative">
                            <div class="mb-3">
                                <label for="correoContacto" class="form-label">Correo</label>
                                <input formControlName="contactocorreo" type="email" class="form-control" id="contactocorreo" name="correoContacto" [(ngModel)]="contactocorreo">
                                <div *ngIf="!contactocorreo" class="error">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                <!-- Sección de Imagen y botón de carga en la derecha -->
                <div class="col-12 col-md-6 d-flex flex-column align-items-end justify-content-center">
                    <!-- Imagen -->
                    <img [src]="displayedImageUrl" alt="Imagen" class="custom-thumbnail mb-3">
                    
                    
                    <!-- Botón de carga de imagen -->
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <input [(ngModel)]="file" type="file" class="form-control" id="fileImg" formControlName="file" accept=".jpg,.png" (change)="onFileSelected($event)">
                    </div>
                </div>
                </div>
                </div>
            <div class="text-right">
                <button type="submit" class="btn bg-teal-400 btn-labeled position-absolute end-0 bottom-0 mb-3">
                    <b><i class="icon-floppy-disk"></i></b>Guardar
                </button>
            </div>
        </form>
    </div>
</div>

