<div class="panel panel-flat">
    <div class="table-responsive">
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-filter3"></i></span>
            <input type="text" class="form-control" placeholder="Filtrar los torneos"
                [(ngModel)]="filtroNombre">
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="colorHead">
                    <th>#</th>
                    <th>Cancha</th>
                    <th>Torneo</th>
                    <th>Equipo</th>
                    <th>status</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams | filtroEquipo:filtroNombre | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; let i = index"
                    [ngClass]="i % 2 === 0 ? 'zebra-even' : 'zebra-odd'">
                    <td>{{ team.autoincrement }}</td>
                    <td>{{ team.field.nombre}}</td>
                    <td>{{ team.tournament.nombre}}</td>
                    <td>{{ team.nombre}}</td>
                    <td>{{ team.status}}</td>
                    <td>
                        <mat-slide-toggle id="tournamentStatus{{team._id}}" (change)="changeStatus(team._id, team.status)"
                            [(ngModel)]="team.status">
                            <span class="form-check-label" for="tournamentStatus" *ngIf="team.status">Activo</span>
                            <span class="form-check-label" for="tournamentStatus" *ngIf="!team.status">Inactivo</span>
                        </mat-slide-toggle>
                    </td>
                    <td>
                        <ul class="icons-list">
                            <li class="text-primary-600"><a (click)="editarUsuario(team._id)"><i
                                        class="icon-pencil7"></i></a></li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>



<!-- ... (cierre del contenedor y otros códigos) ... -->

