<div class="panel panel-flat">
    <div class="table-responsive">
        <div class="input-group">               
                    <span class="input-group-addon"><i class="icon-filter3"></i></span>
                    <input type="text" class="form-control" placeholder="Filtrar por Cancha"
                        [(ngModel)]="filtroNombre">
                </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fields | filtroCancha:filtroNombre | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ field.autoincrement }}</td>
                <td>{{ field.nombre }}</td>
                <td>
                    <mat-slide-toggle id="fieldStatus{{field._id}}" (change)="changeStatus(field._id, field.status)"
                        [(ngModel)]="field.status">
                        <span class="form-check-label" for="fieldStatus" *ngIf="field.status">Activo</span>
                        <span class="form-check-label" for="fieldStatus" *ngIf="!field.status">Inactivo</span>
                    </mat-slide-toggle>
                </td>
                <td>
                    <ul class="icons-list">
                        <li class="text-primary-600"><a (click)="editarCancha(field._id)"><i
                                    class="icon-pencil7"></i></a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


