<div class="container mt-4">
    <input class="form-control mb-2" placeholder="Filtrar por nombre, email, celular" [(ngModel)]="filtroNombre">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fields | filtroUsuario:filtroNombre | paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
                <td>{{ field.autoincrement }}</td>
                <td>{{ field.nombre }}</td>
                <td>
                    <div class="form-check form-switch form-switch-lg">
                        <input class="form-check-input" type="checkbox" role="switch" id="fieldStatus{{field._id}}" [(ngModel)]="field.status" (change)="changeStatus(field._id, field.status)" />
                        <label class="form-check-label" for="fieldStatus" *ngIf="field.status">Activo</label>
                        <label class="form-check-label" for="fieldStatus" *ngIf="!field.status">Inactivo</label>
                    </div>
                </td>
                <td>
                    <button mat-icon-button (click)="editarCancha(field._id)">
                        <span>
                            <i class="ti ti-edit"></i>
                        </span>
                    </button>

                    <button mat-icon-button color="warn" (click)="eliminarCancha(field._id, field.nombre)">
                        <span>
                            <i class="ti ti-trash"></i>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


