<style>
    .custom-border {
        border-bottom: 2px solid #333; 
    }
    
    .shadow-box {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor del cuadro */
        border-radius: 5px; /* Bordes redondeados */
    }
</style>

<div class="container mt-5">
    <div class="bg-white p-4 shadow-box">
    <h2 class="mb-4">Torneo</h2>
    <form>
        <div class="mb-3">
            <label for="cancha" class="form-label">Cancha</label>
            <select class="form-select" id="cancha">
                <option value="">-- Selecciona la cancha que pertenece el torneo --</option>
                <!-- ... (opciones de canchas) ... -->
            </select>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre del torneo">
        </div>

        <div class="mb-3">
            <label for="dias" class="form-label">Días</label>
            <select class="form-select" id="dias">
                <option value="">-- Selecciona una opción --</option>
                <option value="lv">L-V</option>
                <option value="sabado">Sábado</option>
                <option value="domingo">Domingo</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="horario" class="form-label">Horario</label>
            <select class="form-select" id="horario">
                <option value="">-- Selecciona una hora --</option>
                <option value="">7:00 pm </option>
                <option value="">8:00 pm</option>
                <option value="">9:00 pm</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</div>

