<div class="panel panel-flat">
    <div class="panel-body">
        <form #formTournament="ngForm" (ngSubmit)="onSubmit(formTournament)" enctype="multipart/form-data" novalidate>
            <div class="mb-4">
                <!-- Etiqueta del campo de selección -->
                <label for="fielduser" class="form-label">Cancha:</label>
            
                <!-- Campo de selección (desplegable) -->
                <select [(ngModel)]="field" id="fielduser" name="fielduser" class="form-control" required>
                    <option *ngFor="let fieldItem of listfields" value="{{fieldItem._id}}">{{fieldItem.nombre}}</option>
                </select>
            
                <!-- Mensaje de error que se mostrará si el campo está vacío -->
                <div *ngIf="!field" class="error">Este campo es obligatorio.</div>
            </div>
            

            <div class="mb-4">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombreCancha"  [(ngModel)]="nombre" name="nombre" required>
                <div *ngIf="!nombre" class="error">Este campo es obligatorio.{{nombre}}</div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <label class="form-label">Dia de juego:</label>
                    <mat-radio-group aria-label="Select an option" color="primary" [(ngModel)]="dia" name="dia" required>
                        <mat-radio-button value="lav">Lunes a Viernes</mat-radio-button>
                        <mat-radio-button value="sabado">sabado</mat-radio-button>
                        <mat-radio-button value="domingo">domingo</mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="!dia" class="error">Este campo es obligatorio.</div>
                </div>
                <br><br>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-4">
                    <label for="horario" class="form-label">Horario</label>
                    <select class="form-select" id="horario" [(ngModel)]="horario"  #horarioModel="ngModel" name="horario" required>
                        <option value="">-- Selecciona una hora --</option>
                        <option value="7:00 pm">7:00 pm</option>
                        <option value="8:00 pm">8:00 pm</option>
                        <option value="9:00 pm">9:00 pm</option>
                    </select>
                    <div *ngIf="!horario" class="error">Este campo es obligatorio.</div>
                </div>
            </div>
            
            <div class="text-right">
                    <button type="submit" class="btn bg-teal-400 btn-labeled">
                        <b><i class="icon-floppy-disk"></i></b> Guardar
                    </button>
                </div>
        </form>
    </div>
</div>
