<ul class="navigation navigation-main navigation-accordion">
    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
    <li><a href="index.html"><i class="icon-certificate"></i> <span>Estadisticas</span></a></li>
    <li>
        <a href="#"><i class=" icon-list"></i> <span>Perfiles</span></a>
        <ul>
            <li><a [routerLink]="['/home/perfil']"><i class="icon-profile"></i> Alta de Perfil</a></li>
            <li><a [routerLink]="['/home/perfiles']"><i class=" icon-file-text"></i> Lista de Perfiles</a></li>
        </ul>
    </li>
    <li>
        <a href="#"><i class=" icon-users4"></i> <span>Usuarios</span></a>
        <ul>
            <li><a [routerLink]="['/home/usuario']"><i class="icon-user-plus"></i> Alta de Usuario</a></li>
            <li><a [routerLink]="['/home/usuarios']"><i class=" icon-user-check"></i> Lista de Usuarios</a></li>
        </ul>
    </li>    
    <li>
        <a href="#"><i class=" icon-users4"></i> <span>Canchas</span></a>
        <ul>
            <li><a [routerLink]="['/home/fieldform']"><i class="icon-user-plus"></i> Alta de Cancha</a></li>
            <li><a [routerLink]="['/home/fieldlist']"><i class=" icon-user-check"></i> Lista de Canchas</a></li>
        </ul>
    </li>    
    <li>
        <a href="#"><i class=" icon-users4"></i> <span>Torneos</span></a>
        <ul>
            <li><a [routerLink]="['/home/tournamentform']"><i class="icon-user-plus"></i> Alta de Torneo</a></li>
            <li><a [routerLink]="['/home/tournamentlist']"><i class=" icon-user-check"></i> Lista de Torneos</a></li>
        </ul>
    </li>    
</ul>