<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="./index.html" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">PERFILES</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/home/perfil']" aria-expanded="false">
                <span>
                    <i class="ti ti-clipboard-plus"></i>
                </span>
                <span class="hide-menu">Nuevo Perfil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/home/perfiles']" aria-expanded="false">
                <span>
                    <i class="ti ti-clipboard-check"></i>
                </span>
                <span class="hide-menu">Lista de Perfiles</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">USUARIOS</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/home/usuario']" aria-expanded="false">
                <span>
                    <i class="ti ti-user-plus"></i>
                </span>
                <span class="hide-menu">Nuevo Usuario</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/home/usuarios']" aria-expanded="false">
                <span>
                    <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Usuarios</span>
            </a>
        </li>
    </ul>
</nav>